<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBx1khOhgboEsbOYPISUmUNuNQg1BYUyxc</string>
	<key>GCM_SENDER_ID</key>
	<string>858532296194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codethenic.habita</string>
	<key>PROJECT_ID</key>
	<string>habitic-ebddb</string>
	<key>STORAGE_BUCKET</key>
	<string>habitic-ebddb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858532296194:ios:91c7c61edc9cab21ed591b</string>
</dict>
</plist>